.nav-bar {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.nav-bar div:last-child{
  justify-content: center;
}

.page-recherche{
  display: flex;
  justify-content: space-around;
}

.page-menu{
  display: flex;
  justify-content: space-around;
}

.titre-livre-saisie{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: stretch;
}

.genre-livre-saisie{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: stretch;
}

.select-genre-livre-saisie{
  flex: 3;
}

.label-genre-livre-saisie{
  flex: 1;
  margin-right: 1%;
}

.input-titre-livre-saisie{
  flex: 3;
}

.zone-recherche h1{
  text-align: center;
}

.zone-connexion h1{
  width: 100%;
  text-align: center;
}

.label-titre-livre-saisie{
  flex: 1;
  margin-right: 1%;
}

.zone-recherche{
  margin: 2%;
  padding: 1%;
  flex: 2;
  height: 48vh;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgba(67, 17, 17, 0.35);
  font-family: fantasy;
  font-size: 18px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  border-radius: 15px;
}

.zone-tri{
  margin: 5%;
  padding: 1%;
  padding-bottom: 4%;
  flex: 2;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgba(67, 17, 17, 0.35);
  font-family: fantasy;
  font-size: 18px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  border-radius: 15px;
}

.zone-tri h1{
  text-align: center;
}

.zone-tri div{
  text-align: center;
  padding-bottom: 3%;
}

.zone-recherche div{
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.zone-recherche div:last-child{
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.zone-recherche div *:last-child{
  flex: 8;
}

.zone-recherche div *:first-child{
  flex: 5;
}

.zone-description{
  display: flex;
}

.zone-description *:last-child{
  margin: 0;
  flex: 8;
}

.zone-description *:first-child{
  margin-left: 2%;
  flex: 5;
}

.zone-connexion{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.35);
  font-family: fantasy;
  font-size: 18px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  border-radius: 15px;
}

.zone-menu{
  margin: 2%;
  padding: 2%;
  padding-top: 0;
  width: 45%;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgba(67, 17, 17, 0.35);
  font-family: fantasy;
  font-size: 18px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  border-radius: 15px;
}

.zone-menu-ext-cont{
  display: flex;
  justify-content: center;
}

.zone-menu-ext{
  margin: 2%;
  padding: 2%;
  padding-top: 0;
  width: 45%;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgba(67, 17, 17, 0.35);
  font-family: fantasy;
  font-size: 18px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  border-radius: 15px;
}

.zone-menu-ext h1{
  text-align: center;
}

.zone-menu-ext div{
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.zone-menu-ext div:last-child{
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.zone-menu-ext div *:last-child{
  flex: 8;
}

.zone-menu-ext div *:first-child{
  flex: 5;
}

.zone-menu div{
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.zone-menu div:last-child{
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.zone-menu div *:last-child{
  flex: 8;
}

.zone-menu div *:first-child{
  flex: 5;
}

.zone-menu h1{
  text-align: center;
}

.zone-connexion form{
  display: flex;
  flex-wrap: wrap;
}

.zone-connexion form input{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  border-radius: 1vh;
  color: #000;
  width: 100%;
}

.zone-connexion form input:last-child{
  margin-left: 30%;
  margin-right: 30%;
}

.resultat-recherche{
  padding: 2%;
  flex: 3;
}

.loupe {
  height: 48px;
}

.loupe-container {
  height: 48px;
  padding-top: 3%;
  padding-right: 5%;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.accueil {
  display: flex;
  flex: auto;
  justify-content: center;
}

.accueil-body{
  display: flex;
}

.accueil-body div:first-child(){
  flex: 1;
}

.accueil-body div:last-child{
  flex: 2;
}

.accueil-p {
  font-size: larger;
}

.contact-p {
  font-size: larger;
}

.contact {
  display: flex;
  flex: auto;
  justify-content: center;
}

.logo {
  flex: none;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-top: 10%;
  width: 118px;
  height: 108px;
}

.description {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-around;
}

.description p{
  margin-left: 2%;
}


.paragraph-book {
  width: 30%;
  box-shadow: 1px 1px 25px grey;
  padding: 1%;
  border-radius: 2%;
  background-color: rgba(67, 17, 17, 0.35);
  font-family: fantasy;
  font-size: 20px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.paragraph-book-title {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: rgb(31,104,105);
  background: linear-gradient(90deg, rgba(31,104,105,1) 0%, rgba(90,168,255,1) 81%);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}


header {
  background-color: #fcf5f5b2;
  font-family: fantasy;
  font-size: 20px;
}

.nav-bar{
  flex: 5;
  font-size: 20px;
}

.accueil{
  margin-left: -10%;
}
.deconnexion{
  margin-right: 10%;
  font-size: 20px;
}

footer {
  font-family: fantasy;
  font-size: 20px;
  width: 100%;
  margin-top: 10%;
}

.social-media{
  font-family: fantasy;
  font-size: 20px;
  width: 100%;
  margin-top: 10%;
}

header a {
  text-decoration: none;
  color: #c7b7a3;
}

footer div p {
  text-decoration: none;
  color: #c7b7a3;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
  display: flex;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.conteneur-image {
  position: relative;
  display: inline-block;
}

.image-principale {
  width: 200px;
  height: auto;

}

.listePrincipale {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 1.5%;
  border-radius: 20px;
  font-family: fantasy;
  align-items: center;
}


.categorie {
  background-color: #493c3cad;
  margin-bottom: 5px;
  font-family: fantasy;
  width: 500px;
  text-align: center;
  border-radius: 20px;
}

.categorie-accueil {
  background-color: #493c3cad;
  margin-bottom: 5px;
  margin-right: 3%;
  font-family: fantasy;
  text-align: center;
  border-radius: 20px;
}

.liste-items{
  display: flex;
  align-items: center;
}

.liste-items p{
  flex: 1;
}

.categorie-accueil:hover .sousCategories{
  display: block;
  border-radius: 20px;
  font-family: fantasy;
}

.titreCategorie {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  border-radius: 20px;
  font-family: fantasy;
}

.sousCategories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: #493c3cad;
  border-radius: 20px;
  font-family: fantasy;
}

.conteneur-recherche {
  background-color: #493c3cad;
  margin-bottom: 5px;
  font-family: fantasy;
  text-align: center;
  border-radius: 20px;
}

.resultat-recherche-liste {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resultat-recherche-liste li a {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  text-decoration: none;
}

.resultat-recherche-liste li a div {
  flex: 1;
}

.resultat-recherche-liste li a div p{
  flex: 1;
  color: black;
}

.resultat-recherche-liste li div div {
  flex: 1;
}

.resultat-recherche-liste li div div p{
  flex: 1;
}

.resultat-recherche-liste li div  {
  display: flex;
}


.resultat-recherche-liste li:nth-child(1){
  background-color: #493c3cd7;
  border-radius: 20px;
  font-family: fantasy;
}

.resultat-recherche-liste li:hover:nth-child(n+2) {
  background-color: #493c3cad;
  border-radius: 20px;
  font-family: fantasy;
}

.sousCategories li a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  font-family: fantasy;
}

.sousCategories li a:hover {
  background-color: #493c3cad;
  border-radius: 20px;
  font-family: fantasy;
}

.categorie:hover .sousCategories {
  display: block;
  border-radius: 20px;
  font-family: fantasy;
}

#contact {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form_contact {
  display: grid;
  gap: 15px;
  
}

.contact_button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.simple-form-style{
  padding:10px;
  margin: 5px 0;
  border:1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
}

.btn-pdf {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}