.nav-bar {
  border-bottom: 1px solid rgb(77, 69, 69);
  display: flex;
  align-items: center;
  width: 100%;
  
}

.page-recherche {
  display: flex;
  justify-content: space-around;
}

.zone-inscription {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 1%;
  background-color: #0e0e6e;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  color: #f6f6f6;
  border-radius: 15px;
  
}

.page-menu {
  display: flex;
  justify-content: space-around;
  background-color: #18181f;
}

.titre-livre-saisie {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: stretch;
}

.genre-livre-saisie {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: stretch;
}

.select-genre-livre-saisie {
  flex: 3;
}

.label-genre-livre-saisie {
  flex: 1;
  margin-right: 1%;
}

.input-titre-livre-saisie {
  flex: 3;
}

.zone-recherche h1 {
  text-align: center;
}

.zone-connexion h1 {
  width: 100%;
  text-align: center;
}
.zone-inscription h1 {
  width: 100%;
  text-align: center;
}

.label-titre-livre-saisie {
  flex: 1;
  margin-right: 1%;
}

.zone-recherche {
  margin: 2%;
  padding: 1%;
  flex: 2;
  height: 48vh;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgb(44, 43, 43);
  font-family: fantasy;
  font-size: 18px;
  color: #c7b7a3;
  border-radius: 15px;
}

.zone-tri {
  margin: 5%;
  padding: 1%;
  padding-bottom: 4%;
  flex: 2;
  background-color: #2a2581;
  font-family: inter, ui-sans-serif;
  font-size: 18px;
  color: #f6f6f6;
  border-radius: 15px;
}

.zone-tri h1 {
  text-align: center;
}

.zone-tri div {
  text-align: center;
  padding-bottom: 3%;
}

.zone-recherche div {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.zone-recherche div:last-child {
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.zone-recherche div *:last-child {
  flex: 8;
}

.zone-recherche div *:first-child {
  flex: 5;
}

.zone-description {
  display: flex;
}

.zone-description *:last-child {
  margin: 0;
  flex: 8;
}

.zone-description *:first-child {
  margin-left: 2%;
  flex: 5;
}

.btn {
  background-color: #f6f6f6;
  font-family: inter, ui-sans-serif;
  color: #f6f6f6
}

.zone-connexion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 1%;
  background-color: #2a2581;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  color: #f6f6f6;
  border-radius: 15px;
}


.zone-menu {
  margin: 2%;
  padding: 2%;
  padding-top: 0;
  width: 45%;
  background-color: #1b158b;
  font-family: inter, ui-sans-serif;
  font-size: 18px;
  color: #f6f6f6;
  border-radius: 15px;
}

.zone-menu-ext-cont {
  display: flex;
  justify-content: center;
}

.zone-menu-ext {
  margin: 2%;
  padding: 2%;
  padding-top: 0;
  width: 45%;
  background-color: #1b158b;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  color: #f6f6f6;
  border-radius: 15px;
}

.zone-menu-ext h1 {
  text-align: center;
}

.zone-menu-ext div {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.zone-menu-ext div:last-child {
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.zone-menu-ext div *:last-child {
  flex: 8;
}

.zone-menu-ext div *:first-child {
  flex: 5;
}

.zone-menu div {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.zone-menu div:last-child {
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.zone-menu div *:last-child {
  flex: 8;
}

.zone-menu div *:first-child {
  flex: 5;
}

.zone-menu h1 {
  text-align: center;
}

.zone-connexion form {
  display: flex;
  flex-wrap: wrap;
}

.zone-inscription form {
  display: flex;
  flex-wrap: wrap;
}

.zone-connexion form input {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  border-radius: 1vh;
  color: #000;
  width: 100%;
}

.zone-inscription form input {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  border-radius: 1vh;
  color: #000;
  width: 100%;
}

.zone-connexion form input:last-child {
  margin-left: 30%;
  margin-right: 30%;
}
.zone-inscription form input:last-child {
  margin-left: 30%;
  margin-right: 30%;
}

.resultat-recherche {
  padding: 2%;
  flex: 3;
}

.loupe {
  height: 48px;
}

.loupe-container {
  height: 48px;
  padding-top: 3%;
  padding-right: 5%;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.accueil {
  display: flex;
  flex: auto;
  justify-content: center;
}

.accueil-body {
  display: flex;
}

.accueil-body div:first-child() {
  flex: 1;
}

.accueil-body div:last-child {
  flex: 2;
}

.accueil-p {
  font-size: larger;
}

.contact-p {
  font-size: larger;
}

.contact {

  justify-content: center;
}

.logo {
  flex: none;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-top: 10%;
  width: 118px;
  height: 108px;
}

.description {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-around;
}

.description p {
  margin-left: 2%;
}


.paragraph-book {
  width: 30%;
  box-shadow: 1px 1px 25px grey;
  padding: 1%;
  border-radius: 2%;
  background-color: rgba(67, 17, 17, 0.35);
  font-family: fantasy;
  font-size: 20px;
  color: #c7b7a3;
  text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.paragraph-book-title {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100%;
  background-color: #18181f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}



.nav-bar {
  flex: 5;
  font-size: 15px;
  margin-left: 10%;
  border-bottom: #2c3e50;
}

.accueil {
  margin-left: 20%;
}

.connexion {
  margin-left: 10%;
}

.livres {
  margin-left: 10%;
  margin-right: 20%;
}

.deconnexion {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 15px;
}

html{
  height: 100%;
}

footer {
  font-family: Graphik, sans-serif;
  font-size: 20px;
  width: 100%;
  margin-top: 10%;
  footer {position: absolute; bottom: 0;}
}

.social-media {
  font-family: fantasy;
  font-size: 20px;
  width: 100%;
  margin-top: 10%;
}

header {
  background-color: #f5f5f50d;
  font-family: Graphik, sans-serif;
  font-size: 15px;
}

header a {
  text-decoration: none;
  color: #c7b7a3;
  font-size: 15px;
}

footer div p {
  text-decoration: none;
  color: #c7b7a3;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
  display: flex;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.conteneur-image {
  position: relative;
  display: inline-block;
}

.image-principale {
  width: 200px;
  height: auto;

}

.listePrincipale {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 1.5%;
  border-radius: 20px;
  font-family: fantasy;
  align-items: center;
}


.categorie {
  background-color: #f6f6f6;
  margin-bottom: 5px;
  font-family: fantasy;
  width: 500px;
  text-align: center;
  border-radius: 20px;
}

.categorie-accueil {
  background-color: #f6f6f6;
  margin-bottom: 5px;
  margin-right: 3%;
  font-family: Graphik, sans-serif;
  text-align: center;
  border-radius: 10px;
}

.liste-items {
  display: flex;
  align-items: center;
}

.liste-items p {
  flex: 1;
}

.categorie-accueil:hover .sousCategories {
  display: block;
  border-radius: 20px;
  font-family: fantasy;
}

.titreCategorie {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  border-radius: 20px;
  font-family: Graphik, sans-serif;
}

.sousCategories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: #f6f6f6;
  border-radius: 20px;
  font-family: fantasy;
}

.conteneur-recherche {
  background-color: #493c3cad;
  margin-bottom: 5px;
  font-family: fantasy;
  text-align: center;
  border-radius: 20px;
}

.resultat-recherche-liste {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resultat-recherche-liste li a {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  text-decoration: none;
}

.resultat-recherche-liste li a div {
  flex: 1;
}

.resultat-recherche-liste li a div p {
  flex: 1;
  color: black;
}

.resultat-recherche-liste li div div {
  flex: 1;
}

.resultat-recherche-liste li div div p {
  flex: 1;
}

.resultat-recherche-liste li div {
  display: flex;
}


.resultat-recherche-liste li:nth-child(1) {
  background-color: #493c3cd7;
  border-radius: 20px;
  font-family: fantasy;
}

.resultat-recherche-liste li:hover:nth-child(n+2) {
  background-color: #493c3cad;
  border-radius: 20px;
  font-family: fantasy;
}

.sousCategories li a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  font-family: fantasy;
}

.sousCategories li a:hover {
  background-color: #493c3cad;
  border-radius: 20px;
  font-family: fantasy;
}

.categorie:hover .sousCategories {
  display: block;
  border-radius: 20px;
  font-family: fantasy;
}

#contact {
  font-family: graphik, sans-serif;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2a2581;
  border-radius: 5px;
  color: white;
  border-radius: 15px;
}


.form_contact {
  display: grid;
  gap: 15px;

}

.contact_button {
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.simple-form-style {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
}

.btn-pdf {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.footer {
  background-color: #f5f5f50d;
  /* Couleur de fond sombre */
  color: #ecf0f1;
  /* Couleur du texte claire */
  padding: 30px 0;
  /* Espacement vertical */
  text-align: center;
  /* Centrer le texte */
}

.footer-container {
  max-width: 1200px;
  /* Largeur maximale pour le footer */
  margin: 0 auto;
  /* Centrer le footer sur la page */
}

.footer-bottom {
  background-color: #f5f5f50d;
  /* Couleur de fond pour la section des droits d'auteur */
  padding: 10px 0;
  /* Espacement vertical */
  font-size: 14px;
  /* Taille de police plus petite */
}

.cookies {
  border-radius: 15px;
  color: #f6f6f6;
  font-family: graphik, sans-serif;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #2a2581;
  font-size: 18px;
  flex-wrap: wrap;
  width: fit-content;
  padding: 1%;
}

.cookies h1{
  font-family: graphik, sans-serif; 
  text-align: center;
}

.critere-recherche {
  font-family: Graphik, sans-serif;
}

.option {
  font-family: Graphik, sans-serif;
}

a {
  color: #f6f6f6;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-item {
  padding: 10px 20px;
}

.nav-item a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ecf0f1;
}

header nav {
  background-color: #f5f5f50d;
  border-radius: 10px;
  padding: 15px;
}

header .nav-item a {
  padding: 8px 12px;
  border-radius: 5px;
  font-family: Graphik, sans-serif;
}

.nav-item a:hover {
  background-color: #f5f5f50d;
  color: white;
  font-family: Graphik, sans-serif;
}

.connexionPatient{
  background-color: #18181f;
  color: white;
}

.zone-menu-ext-cont{
  border-radius: 15px;
  color: #f6f6f6;
  font-family: graphik, sans-serif;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #2a2581;
  font-size: 18px;
  flex-wrap: wrap;
  width: fit-content;
  padding: 1%;
}


